@import url("https://fonts.gstatic.com/s/nunito/v25/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTk3j77e.woff2");
@import url("https://fonts.googleapis.com/css2?family=https://fonts.googleapis.com/css?family=Tangerine");


.home{
    background-color: #F6EDEA;
    height: 100%;
}

.fade-in-text {
    width: 60%;
    padding-top: 15%;
    margin-right: auto;
    margin-left: auto;
    font-family: Nunito;
    font-size: 30px;
    animation: fadeIn 3s;
    text-align: justify;
}

.home-text {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    font-family: Tangerine;
    font-size: 60px;
    text-align: center;
}


.quoted-by{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-family: Nunito;
    font-size: 30px;
    animation: fadeIn 5s;
    text-align: right;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
/*body*/
body {
    background-color: #F6EDEA;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.title {
    font-size: 4vw;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 6px;
    margin-top: 15;
    text-align: end;
}

h1{
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 6px;
    margin-top: 15;
    text-align: end;
}

/* ===== Blog CSS ===== */
main {
    padding: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    border-right: 1px solid #94918f;
}

main>* {
    flex-shrink: 0;
    min-height: 100%;
    scroll-snap-align: start;
}


/* ===== Side CSS ===== */

.side {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.side .title {
    text-align: start;
    color: white;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #cdcdcd #e9e6e4;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #e9e6e4;
}

*::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
    border-radius: 10px;
    border: 3px solid #e9e6e4;
}

/* .container {
    display: grid;
    overflow: hidden;
    grid-template-rows: 100%;
    position: relative;
} */
/* Rest of your CSS styles */

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    background-color: white;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    margin-left: 40px;
}

.contact-links {
    margin-right: 130px; 
}

.linkedin-icon {
    float: right;
    align-items: center; /* Add this line */
}

/* CSS for icon image */
.linkedin-icon  i{
    padding-left: 50%;
    color: black;
}
.email-icon {
    float: right;
    align-items: center; /* Add this line */
}

/* CSS for icon image */
.email-icon i {
    color: black;
}

.header-links a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-family: Nunito;
    font-size: 30px;
}

.active {
    border-bottom: 2px solid black;
}

.container {
    background-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    display: grid;
    height: 80%;
    overflow: hidden;
    grid-template-rows: 100%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1;
}

main {
    grid-area: main;
    background-color: #ffffff;
}

.side {
    background-color: #2f332f;
    grid-area: side;
}


@media screen and (min-width: 992px) {
    .container {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: "main side";
    }
}
